.top-bar {
	background: $black;
	padding: 10px 0;
	.social, .search-icon {
		a {
			color: $white;
			opacity: .5;
			padding:  5px;
			&:hover {
				opacity: 1;
			}
		}
	}
	.social {
		text-align: left;
	}
	.search-icon  {
		text-align: right;
	}
}


/*----------------------------------------------------*/
@import "variables";
/*---------------------------------------------------- */

/*----------------------------------------------------*/
@import "predefine";
/*---------------------------------------------------- */

/*----------------------------------------------------*/
@import "header";
/*---------------------------------------------------- */

/*----------------------------------------------------*/
@import "breadcrumb";
/*---------------------------------------------------- */

/*----------------------------------------------------*/
@import "blog";
/*---------------------------------------------------- */

/*----------------------------------------------------*/
@import "contact";
/*---------------------------------------------------- */

/*----------------------------------------------------*/
@import "elements";
/*---------------------------------------------------- */

/*----------------------------------------------------*/
@import "button";
/*---------------------------------------------------- */

/*----------------------------------------------------*/
@import "gallery";
/*---------------------------------------------------- */

/*----------------------------------------------------*/
@import "service";
/*---------------------------------------------------- */

/*----------------------------------------------------*/
@import "testimonials";
/*---------------------------------------------------- */

/*----------------------------------------------------*/
@import "instagram";
/*---------------------------------------------------- */

/*----------------------------------------------------*/
@import "footer";
/*---------------------------------------------------- */
