.botones1 {
	background-color:#7c92e6;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;
	border:1px solid #000000;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Trebuchet MS;
	font-size:22px;
	font-weight:bold;
	padding:6px 33px;
	text-decoration:none;
	text-shadow:0px 1px 0px #0053fa;
}
.botones1:hover {
	background-color:#2872e0;
}
.botones1:active {
	position:relative;
	top:1px;
}
